In [1]:
# add dependency
import pandas as pd

In [2]:
# list of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [3]:
# create series
schools_series = pd.Series(high_schools)
# using inddex to call out certain schools in list
schools_series [1:3]

1    Figueroa High School
2     Shelton High School
dtype: object

In [4]:
# dictionary of high schools, schools with ID and names
high_schools_dicts =[{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [5]:
# create dataframe
school_df = pd.DataFrame(high_schools_dicts)

# call out data frame
school_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [6]:
# Three separate lists of information on high schools to convert to create dataframe
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [7]:
# initiailzie new data frame 
schools_df = pd.DataFrame()

In [8]:
# similar to creating dictionaries, add each list to brackets inside of schools_df
# method 1
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["School Type"] = type_of_school
schools_df

# print columns of schools only
schools_df.columns

Index(['School ID', 'School Name', 'School Type'], dtype='object')

In [9]:
# method 2 : dictionary provided
high_school_dicts= {'School ID': school_id, 'School name': school_name, 'School Type': type_of_school}

# convert the list provided to dataframe
high_school_df = pd.DataFrame(high_school_dicts)

# print out data frame
high_school_df

   School ID            School name School Type
0          0      Huang High School    District
1          1   Figueroa High School    District
2          2    Shelton High School     Charter
3          3  Hernandez High School    District
4          4    Griffin High School     Charter